<%- include ("./partials/header") %>
<div
  class="container"
  style="text-align: center; color: #1f1e1d; margin-top: 40px;"
>
  <h1 style="font-weight: bold;">
    About Us
  </h1>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    Who we are?
  </h3>
  <p style="margin-top: 20px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime odio
    necessitatibus. Non, deleniti. Eius, ab modi? Modi, veniam libero! Saepe
    nisi iure fugiat architecto id. Error molestias quibusdam totam reiciendis
    ea nemo veniam tempore explicabo, repellendus nobis aperiam odio temporibus
    ipsam vero asperiores ex eveniet illo? Ducimus deleniti commodi optio
    dolorum alias aperiam, sapiente maiores inventore cupiditate soluta, cum
    quibusdam voluptatem nulla doloremque. Odio, doloremque cum. Et facere autem
    voluptatibus sunt recusandae quaerat dolores officiis error laborum sit,
    vero a soluta vitae libero, consequatur, eveniet quibusdam esse quisquam
    nisi numquam dolore fugiat velit ut. Facere amet in impedit distinctio!
  </p>
  <p style="font-weight: bolder; margin-top: 10px; color: #42413d;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorum
    consequuntur, numquam itaque eum eligendi enim fugiat! Ducimus cum
    repellendus sunt adipisci tenetur commodi suscipit delectus aliquam quos
    asperiores. Eius?
  </p>

  <div
    class="container"
    style="
      background-color: #180d40;
      margin-top: 30px;
      height: 150px;
      border-radius: 25px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 5px 8px 10px #cbc6cf;
    "
  >
    <div
      class="row"
      style="
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div class="col-md-4" style="padding-right: 2px;">
        <h2 style="color: white;"><strong>2500+</strong></h2>

        <h4 style="color: #27bbd9;">Trained Professionals</h4>
      </div>
      <div
        class="col-md-3"
        style="outline-style: solid; outline-color: #27bbd9;"
      >
        <h2 style="color: white;"><strong>8k +</strong></h2>
        <h4 style="color: white;">Happy Customers</h4>
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3"
        style="outline-style: solid; outline-color: #27bbd9;"
      >
        <h2 style="color: white;"><strong>12</strong></h2>
        <h4 style="color: white;">Cities Covered</h4>
      </div>
    </div>
  </div>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    How we do it?
  </h3>
  <p style="margin-top: 20px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime odio
    necessitatibus. Non, deleniti. Eius, ab modi? Modi, veniam libero! Saepe
    nisi iure fugiat architecto id. Error molestias quibusdam totam reiciendis
    ea nemo veniam tempore explicabo, repellendus nobis aperiam odio temporibus
    ipsam vero asperiores ex eveniet illo? Ducimus deleniti commodi optio
    dolorum alias aperiam, sapiente maiores inventore cupiditate soluta, cum
    quibusdam voluptatem nulla doloremque.
  </p>

  <h3 style="font-weight: bolder; margin-top: 30px;">
    Our story so far
  </h3>
  <p style="margin-top: 20px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime odio
    necessitatibus. Non, deleniti. Eius, ab modi? Modi, veniam libero! Saepe
    nisi iure fugiat architecto id. Error molestias quibusdam totam reiciendis
    ea nemo veniam tempore explicabo, repellendus nobis aperiam odio temporibus
    ipsam vero asperiores ex eveniet illo? Ducimus deleniti commodi optio
    dolorum alias aperiam, sapiente maiores inventore cupiditate soluta, cum
    quibusdam voluptatem nulla doloremque.
  </p>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    Our Team
  </h3>
  <!-- ----------------- -->
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          padding-top: 20px;
        "
      >
        <p4
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
          tenetur, ad minima tempora dolores quidem. Nostrum debitis cupiditate
          saepe totam.</p4
        >
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-4">
            <img
              src="https://images.unsplash.com/photo-1580907009323-2d2336cbf1e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
              style="border-radius: 50%; height: 60px; width: 60px;"
            />
          </div>
          <div class="col-md-8">
            <h6><strong>Customer Name</strong></h6>
            <h6 style="color: #27bbd9; margin-top: 5px;">Title</h6>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          padding-top: 20px;
        "
      >
        <p4
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
          tenetur, ad minima tempora dolores quidem. Nostrum debitis cupiditate
          saepe totam.</p4
        >
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-4">
            <img
              src="https://images.unsplash.com/photo-1580907009323-2d2336cbf1e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
              style="border-radius: 50%; height: 60px; width: 60px;"
            />
          </div>
          <div class="col-md-4">
            <h6><strong>Customer Name</strong></h6>
            <h6 style="color: #27bbd9; margin-top: 5px;">Title</h6>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          padding-top: 20px;
        "
      >
        <p4
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
          tenetur, ad minima tempora dolores quidem. Nostrum debitis cupiditate
          saepe totam.</p4
        >
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-4">
            <img
              src="https://images.unsplash.com/photo-1580907009323-2d2336cbf1e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
              style="border-radius: 50%; height: 60px; width: 60px;"
            />
          </div>
          <div class="col-md-8">
            <h6><strong>Customer Name</strong></h6>
            <h6 style="color: #27bbd9; margin-top: 5px;">Title</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------- -->
  <h3 style="font-weight: bolder; margin-top: 30px;">
    Our Investors
  </h3>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          padding-top: 20px;
          height: 100px;
        "
      >
        <h2 style="text-align: center;">IMG</h2>
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          padding-top: 20px;
          height: 100px;
        "
      >
        <h2 style="text-align: center;">IMG</h2>
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3"
        style="
          box-shadow: 5px 0px 5px 5px #cbc6cf;
          border-radius: 10px;
          height: 100px;
          padding-top: 20px;
        "
      >
        <h2 style="text-align: center;">IMG</h2>
      </div>
    </div>
  </div>

  <!-- ------------ -->
  <p style="font-weight: bolder; margin-top: 60px; color: #42413d;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorum
    consequuntur, numquam itaque eum eligendi enim fugiat! Ducimus cum
    repellendus sunt adipisci tenetur commodi suscipit delectus aliquam quos
    asperiores. Eius?
  </p>
  <p style="color: #42413d;">
    For general queries, contact us: help@serveondoor.com
  </p>
  <p style="color: #42413d; line-height: 0rem;">
    For media queries, contact us: media@serveondoor.com
  </p>
  <p style="color: #42413d; margin-top: 20px;">
    You Could Be a Part of Journey, Interested?
  </p>
  <div
    class="btn"
    style="
      font-weight: bold;
      color: white;
      background-color: #27bbd9;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
    "
  >
    APPLY NOW
  </div>
  <hr />
</div>

<%- include ("./partials/footer") %>
