<%- include ("./partials/header") %>
<div class="container" style="margin-left: 100px;">
  <h1
    style="
      margin-top: 30px;
      text-align: center;
      font-weight: bold;
      color: #2e2c2c;
    "
  >
    Contact Us
  </h1>
  <h5 style="margin-top: 20px; color: #696262; text-align: center;">
    For general queries, contact us: help@serveondoor.com
  </h5>
  <h5 style="margin-top: 10px; color: #696262; text-align: center;">
    For media queries, contact us: media@serveondoor.com
  </h5>
  <div class="row">
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        NEW DELHI
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        KOLKATA
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        MUMBAI
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
  </div>

  <div class="row" style="padding-top: 40px;">
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        BHOPAL
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        AHMEDABAD
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        LUCKNOW
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
  </div>
  <div class="row" style="padding-top: 40px;">
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        TELANGANA
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        BENGALURU
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 50px;
        "
      >
        VISHAKHAPATNAM
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
  </div>
  <div class="row" style="padding-top: 40px;">
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        JAIPUR
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 65px;
        "
      >
        CHANDIGARH
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
    <div class="col-md-1"></div>
    <div
      class="col-md-3"
      style="
        box-shadow: 5px 8px 10px #cbc6cf;
        height: 170px;
        border-radius: 12px;
        margin-top: 30px;
      "
    >
      <h4
        style="
          margin-top: 15px;
          text-align: centre;
          font-weight: bold;
          padding-left: 55px;
        "
      >
        BHUWANESHWAR
      </h4>
      <h5 style="padding-top: 10px;">
        <span style="color: #666363; font-weight: bold;">Address:</span
        ><span style="color: #75bff0;">
          76, World Trade Centre, Connaught Place</span
        >
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Phone:</span
        ><span style="color: #75bff0;"> +316 12345678</span>
      </h5>
      <h5 style="padding-top: 1px;">
        <span style="color: #666363; font-weight: bold;">Email:</span
        ><span style="color: #75bff0;"> info@website.com</span>
      </h5>
    </div>
  </div>
</div>
<%- include ("./partials/footer") %>
