<%- include ("./partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5" style="margin-top: 20px;">
          <h4 style="color: #3d3c3a; font-weight: bolder;">Pay Using</h4>
          <div
            style="
              outline: 1px solid #3d3c3a;
              height: 40px;
              margin-top: 30px;
              display: flex;
              justify-content: start;
            "
          >
            <input
              class="custom-control-input"
              type="radio"
              style="height: 30px; width: 30px; margin-left: 10px;"
            />
            <span
              style="
                padding-left: 10px;
                padding-top: 5px;
                font-size: medium;
                font-weight: bolder;
              "
              >UPI</span
            ><br />
          </div>
          <div
            style="
              outline: 1px solid #3d3c3a;
              height: 40px;
              margin-top: 30px;
              display: flex;
              justify-content: start;
            "
          >
            <input
              class="custom-control-input"
              type="radio"
              style="height: 30px; width: 30px; margin-left: 10px;"
            />
            <span
              style="
                padding-left: 10px;
                padding-top: 5px;
                font-size: medium;
                font-weight: bolder;
              "
              >Credit Debit Card</span
            ><br />
          </div>
          <div
            style="
              outline: 1px solid #3d3c3a;
              height: 40px;
              margin-top: 30px;
              display: flex;
              justify-content: start;
            "
          >
            <input
              class="custom-control-input"
              type="radio"
              style="height: 30px; width: 30px; margin-left: 10px;"
            />
            <span
              style="
                padding-left: 10px;
                padding-top: 5px;
                font-size: medium;
                font-weight: bolder;
              "
              >Wallet</span
            ><br />
          </div>
          <div
            style="
              outline: 1px solid #3d3c3a;
              height: 40px;
              margin-top: 30px;
              display: flex;
              justify-content: start;
            "
          >
            <input
              class="custom-control-input"
              type="radio"
              style="height: 30px; width: 30px; margin-left: 10px;"
            />
            <span
              style="
                padding-left: 10px;
                padding-top: 5px;
                font-size: medium;
                font-weight: bolder;
              "
              >Net Banking</span
            ><br />
          </div>
          <div
            style="
              outline: 1px solid #3d3c3a;
              height: 40px;
              margin-top: 30px;
              display: flex;
              justify-content: start;
            "
          >
            <input
              class="custom-control-input"
              type="radio"
              style="height: 30px; width: 30px; margin-left: 10px;"
            />
            <span
              style="
                padding-left: 10px;
                padding-top: 5px;
                font-size: medium;
                font-weight: bolder;
              "
              >Pay after service (Cash)</span
            ><br />
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 20px;">
          <h4 style="color: #3d3c3a; font-weight: bolder; margin-left: 50px;">
            Payment Summary
          </h4>
          <div
            class="row"
            style="height: 120px; outline: 1px solid #3d3c3a; margin-top: 30px;"
          >
            <div class="col-md-7">
              <h5 style="font-weight: bolder; color: #3d3c3a;">Item Total</h5>
              <h5 style="font-weight: bolder; color: #3d3c3a;">
                Offer Discount
              </h5>
              <h5 style="font-weight: bolder; color: #838587;">
                Safety and hygiene fee
              </h5>
              <h4 style="font-weight: bolder; margin-top: 8px;">
                Total
              </h4>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <h5
                style="font-weight: bolder; color: #3d3c3a; margin-left: 30px;"
              >
                Rs.1020
              </h5>
              <h5
                style="font-weight: bolder; color: #24a0ed; margin-left: 24px;"
              >
                - Rs.321
              </h5>
              <h5
                style="font-weight: bolder; color: #838587; margin-left: 30px;"
              >
                Rs.49
              </h5>

              <h4 style="font-weight: bolder; margin-left: 30px;">
                Rs.749
              </h4>
            </div>
          </div>
          <h6 style="margin-top: 20px; font-weight: bolder;">
            <span style="color: #838587;"
              >By proceeding, you accaept the latest versions of our </span
            ><span style="color: #24a0ed;"
              >T&Cs, Privacy policy
              <span style="color: #838587;">and</span> Cancellation policy</span
            >
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("./partials/footer") %>
