<%- include ("./partials/header") %>
<div class="container">
  <h1 style="font-weight: bold; color: #2e3436; text-align: center;">
    Privacy Policy
  </h1>
  <p style="margin-top: 30px; text-align: left; color: #5b5e5e;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis mollitia
    voluptatem dolorem asperiores consequatur, eius eos enim dolores iure
    molestiae porro culpa nihil omnis, ab perferendis doloribus! Omnis expedita
    itaque deleniti officia, dolores delectus voluptate tempora, optio
    recusandae quae ipsam.
  </p>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    A. Collection of Personal Information
  </h3>
  <h4 style="font-weight: bolder; margin-top: 15px; color: #5b5e5e;">
    1. COLLECTION OF PERSONAL INFORMATION
  </h4>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever since
    the 1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>
  <h4 style="font-weight: bolder; margin-top: 15px; color: #5b5e5e;">
    2. COLLECTION OF PERSONAL INFORMATION FROM SOCIAL NETWORKING SITES
  </h4>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry.
  </p>
  <h4 style="font-weight: bolder; margin-top: 15px; color: #5b5e5e;">
    3. COLLECTION OF AUTOMATIC INFORMATION, USE OF COOKIES AND OTHER TRACKING
    DEVICES
  </h4>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever since
    the 1500s, when an unknown pr
  </p>
  <h4 style="font-weight: bolder; margin-top: 15px; color: #5b5e5e;">
    4. THIRD PARTY DATA POLICY
  </h4>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient.
  </p>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    B. How Serve On Door Uses the Information We Collect
  </h3>
  <h4 style="font-weight: bolder; margin-top: 15px; color: #5b5e5e;">
    1. HOW PERSONAL INFORMATION IS USED
  </h4>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry.
  </p>
  <h3 style="font-weight: bolder; margin-top: 30px;">
    C. Security
  </h3>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industryLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    magnis dis parturient. Lorem Ipsum is simply dummy text of the printing and
    typesetting industry Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
    penatibus et magnis dis parturient. Lorem Ipsum is simply dummy text of the
    printing and typesetting industry
  </p>

  <h3 style="font-weight: bolder; margin-top: 30px;">
    D. Links to External Websites
  </h3>
  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry.
  </p>

  <h3 style="font-weight: bolder; margin-top: 30px;">
    E. Privacy Policy Updates
  </h3>

  <p style="color: 5b5e5e;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient. Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
    consequuntur molestiae deleniti recusandae deserunt vitae eligendi
    perspiciatis eum quae voluptatum!
  </p>
</div>

<%- include ("./partials/footer") %>
