<%- include ("./partials/header") %>

<!-- JUMBOTRON -->
<header class="jumbotron jumbotron-fluid register">
  <h2 id="heading" style="color: whitesmoke;">
    <strong>Join our team of proffesionals</strong>
  </h2>
</header>

<!-- FORM -->
<div
  class="container"
  style="
    margin-top: 50px;
    margin-bottom: 30px;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a0721;
    border-radius: 25px;
    box-shadow: 5px 8px 10px #cbc6cf;
  "
>
  <h3 style="text-align: center; font-weight: bold; color: white;">
    Share your details and we'll help make your career
  </h3>
  <div class="row">
    <div class="col-md-4">
      <form>
        <input
          type="text"
          name="City"
          placeholder="Choose your city"
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 15px;
            border-radius: 10px;
            color: grey;
            text-align: center;
            font-weight: bolder;
            outline: none;
          "
        />
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <input
          type="text"
          name="name"
          placeholder="Full Name"
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 15px;
            border-radius: 10px;
            color: grey;
            text-align: center;
            font-weight: bolder;
            outline: none;
          "
        />
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <input
          type="text"
          name="phone"
          placeholder="Phone Number"
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 15px;
            border-radius: 10px;
            color: grey;
            text-align: center;
            font-weight: bolder;
            outline: none;
          "
        />
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
      <form>
        <input
          type="text"
          name="Email"
          placeholder="E-mail Address"
          style="
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 15px;
            border-radius: 10px;
            color: grey;
            text-align: center;
            font-weight: bolder;
            outline: none;
          "
        />
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <input
          type="text"
          name="profession"
          placeholder="Profession"
          style="
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 15px;
            border-radius: 10px;
            color: grey;
            text-align: center;
            font-weight: bolder;
            outline: none;
          "
        />
      </form>
    </div>
    <div class="col-md-4">
      <div
        class="btn"
        style="
          font-weight: bold;
          color: white;
          background-color: #27bbd9;
          margin-top: 10px;
          padding-left: 12px;
          padding-right: 12px;
          margin-left: 30px;
        "
      >
        GET IN TOUCH
      </div>
    </div>
  </div>
</div>

<!-- JOIN HANDS FOR BETTER TOMORROW -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="line-height: 0em; margin-top: 60px;">
        <strong>Join hands with us for a better tomorrow</strong>
      </h2>
      <hr
        style="
          margin-right: 800px;
          outline: 0em;
          width: 50px;
          line-height: 0em;
          padding: 0em;
          border-top: 3.5px solid #27bbd9;
        "
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A in maxime
        provident. Quis eum repudiandae facilis exercitationem nulla, alias
        mollitia.
      </p>
      <ul>
        <li style="margin-bottom: 15px;">
          <i class="fa fa-check" aria-hidden="true" style="color: #27bbd9;"></i>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident,
          consequuntur!
        </li>
        <li style="margin-bottom: 15px;">
          <i class="fa fa-check" aria-hidden="true" style="color: #27bbd9;"></i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, velit
          iste cum voluptas sapiente quo.
        </li>
        <li style="margin-bottom: 15px;">
          <i class="fa fa-check" aria-hidden="true" style="color: #27bbd9;"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore
          mollitia obcaecati illo.
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <img
        style="
          margin-top: 15px;
          margin-left: 40px;
          margin-top: 80px;
          width: 300px;
          height: 200px;
          box-shadow: 5px 8px 10px #cbc6cf;
        "
        src="https://images.unsplash.com/photo-1488750059241-ed3ad4563245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
      />
    </div>
  </div>
</div>

<!-- HEADING -->
<h1
  style="
    margin-top: 60px;
    color: #27bbd9;
    font-weight: bold;
    text-align: center;
  "
>
  DON'T WAIT FOR THE OPPORTUNITY
</h1>
<h1
  style="
    margin: none;
    padding: none;
    line-height: 0em;
    font-weight: bold;
    color: #27bbd9;
    text-align: center;
  "
>
  CREATE IT
</h1>
<div class="container">
  <hr style="margin-top: 30px; border-top: 1.5px solid #959c9c;" />
</div>
<%- include ("./partials/footer") %>
