<%- include ("./partials/header") %>
<div class="container">
  <div class="row" style="height: 100%;">
    <div class="col-md-9">
      <h1 style="text-align: center; font-weight: bold; color: #222326;">
        Review
      </h1>
      <div
        class="container"
        style="
          background-color: #0b0321;
          margin-top: 30px;
          height: 180px;
          width: 700px;
          border-radius: 25px;
          box-shadow: 5px 8px 10px #cbc6cf;
        "
      >
        <h3
          style="
            color: white;
            font-weight: bold;
            padding-left: 30px;
            padding-top: 20px;
          "
        >
          8534 Customers have used Serve on Door till now.
        </h3>
        <h4
          style="
            color: white;
            font-weight: bold;
            padding-left: 30px;
            padding-top: 10px;
          "
        >
          Here's what they have to say,
        </h4>
        <p style="font-size: large; color: grey; padding-bottom: 20px;">
          <span
            style="
              padding-left: 30px;
              color: white;
              font-weight: bold;
              font-size: x-large;
            "
            >4.8</span
          >
          / 5 OVERALL RATING<span
            style="color: white; font-weight: bold; font-size: x-large;"
          >
            | 5k
          </span>
          USER REVIEWS
        </p>
      </div>
      <!-- purple box end here -->
      <h4 style="color: #333236; font-weight: bolder; margin-top: 35px;">
        Ratings and reviews received in last three months.
      </h4>
      <!-- Three boxes -->
      <div
        class="row"
        style="
          margin-top: 40px;
          border-radius: 10px;
          box-shadow: 5px 6px 8px 10px #cbc6cf;
          height: 120px;
          width: 700px;
        "
      >
        <div class="col-md-3">
          <img
            style="
              border-radius: 50%;
              height: 80px;
              width: 80px;
              padding-top: 10px;
              margin-left: 25px;
            "
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-9">
          <h4 style="font-weight: bold; padding-top: 8px;">Name of customer</h4>

          <h6 style="line-height: 0em; font-weight: bold; color: #5f5d63;">
            Reviewed by Name
          </h6>
          <p style="padding-top: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
            architecto.
          </p>
        </div>
      </div>
      <div
        class="row"
        style="
          margin-top: 40px;
          border-radius: 10px;
          box-shadow: 5px 6px 8px 10px #cbc6cf;
          height: 120px;
          width: 700px;
        "
      >
        <div class="col-md-3">
          <img
            style="
              border-radius: 50%;
              height: 80px;
              width: 80px;
              padding-top: 10px;
              margin-left: 25px;
            "
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-9">
          <h4 style="font-weight: bold; padding-top: 8px;">Name of customer</h4>
          <h6 style="line-height: 0em; font-weight: bold; color: #5f5d63;">
            Reviewed by Name
          </h6>
          <p style="padding-top: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
            architecto.
          </p>
        </div>
      </div>
      <div
        class="row"
        style="
          margin-top: 40px;
          border-radius: 10px;
          box-shadow: 5px 6px 8px 10px #cbc6cf;
          height: 120px;
          width: 700px;
        "
      >
        <div class="col-md-3">
          <img
            style="
              border-radius: 50%;
              height: 80px;
              width: 80px;
              padding-top: 10px;
              margin-left: 25px;
            "
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-9">
          <h4 style="font-weight: bold; padding-top: 8px;">Name of customer</h4>
          <h6 style="line-height: 0em; font-weight: bold; color: #5f5d63;">
            Reviewed by Name
          </h6>
          <p style="padding-top: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
            architecto.
          </p>
        </div>
      </div>
      <!-- ------ -->
    </div>
    <!-- col med 3 -->
    <div class="col-md-3">
      <img
        style="
          height: 400px;
          margin-top: 40px;
          margin-right: 40px;
          width: 250px;
          border-radius: 10px;
          box-shadow: 5px 8px 10px #cbc6cf;
        "
        src="https://images.unsplash.com/photo-1516660755-1f67a7debcdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
      />
      <h4 style="margin-top: 20px; color: #555357; font-weight: bolder;">
        CUSTOMER TESTIMONIALS
      </h4>
      <div
        style="
          height: 150px;
          margin-top: 20px;
          box-shadow: 5px 6px 6px 6px #d9d7db;
        "
      >
        <i
          class="fa fa-play-circle-o fa-3x"
          style="color: #555357; padding-left: 120px; padding-top: 55px;"
          aria-hidden="true"
        ></i>
      </div>
      <div
        style="
          height: 150px;
          margin-top: 20px;
          box-shadow: 5px 6px 6px 6px #d9d7db;
        "
      >
        <i
          class="fa fa-play-circle-o fa-3x"
          style="color: #555357; padding-left: 120px; padding-top: 55px;"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="
      margin-top: 40px;
      width: 200px;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-left: 200px;
      color: #4baac4;
    "
  >
    <div class="col-md-2" style="margin-left: 4px; outline: 1px solid #3d3a40;">
      <i
        style="color: #000;"
        class="fa fa-step-backward fa-lg"
        aria-hidden="true"
      ></i>
    </div>
    <div class="col-md-1" style="padding-left: 1px; margin-left: 1px;"></div>
    <div
      class="col-md-2"
      style="font-weight: bolder; margin-left: 4px; outline: 1px solid #3d3a40;"
    >
      1
    </div>
    <div
      class="col-md-2"
      style="font-weight: bolder; margin-left: 4px; outline: 1px solid #3d3a40;"
    >
      2
    </div>
    <div
      class="col-md-2"
      style="font-weight: bolder; margin-left: 4px; outline: 1px solid #3d3a40;"
    >
      3
    </div>
    <div
      class="col-md-2"
      style="font-weight: bolder; margin-left: 4px; outline: 1px solid #3d3a40;"
    >
      4
    </div>
    <div class="col-md-1" style="padding-left: 1px; margin-left: 1px;"></div>
    <div class="col-md-2" style="margin-left: 4px; outline: 1px solid #3d3a40;">
      <i
        style="color: #000;"
        class="fa fa-step-forward fa-lg"
        aria-hidden="true"
      ></i>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>
