<%- include ("./partials/header") %>
<!-- JUMBOTRON -->
<header class="jumbotron jumbotron-fluid salon" style="height: 400px;">
  <div class="row">
    <div class="col-md-8">
      <h2
        style="
          font-weight: bold;
          color: white;
          padding-top: 10px;
          padding-left: 45px;
        "
      >
        Salon at Home in Delhi
      </h2>
      <ul style="color: white; font-weight: bolder; list-style: auto;">
        <li style="margin-top: 15px;">
          • Select from Various Salon Packages & Services
        </li>
        <li style="margin-top: 15px;">
          • Select from Various Salon Packages & Services
        </li>
        <li style="margin-top: 15px;">
          • Select from Various Salon Packages & Services
        </li>
      </ul>
    </div>
    <div
      class="col-md-3"
      style="
        background-color: #1a062e;
        height: 300px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      "
    >
      <h4
        style="
          color: white;
          font-weight: bold;
          padding-top: 10px;
          padding-left: 20px;
        "
      >
        View all beautiful
      </h4>

      <div
        class="row"
        style="
          margin-left: 5px;
          margin-right: 5px;
          background-color: white;
          height: 40px;
          margin-top: 20px;
          border-radius: 6px;
        "
      >
        <div class="col-md-2">
          <img
            style="
              border-radius: 50%;
              height: 38px;
              width: 35px;
              padding-top: 1px;
            "
            src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-10">
          <p
            style="
              font-size: small;
              color: #1a062e;
              font-weight: bold;
              padding-top: 10px;
              padding-left: 4px;
            "
          >
            Package & Exclusive
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div
        class="row"
        style="
          margin-left: 5px;
          margin-right: 5px;
          background-color: white;
          height: 40px;
          margin-top: 20px;
          border-radius: 6px;
        "
      >
        <div class="col-md-2">
          <img
            style="
              border-radius: 50%;
              height: 38px;
              width: 35px;
              padding-top: 1px;
            "
            src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-10">
          <p
            style="
              font-size: small;
              color: #1a062e;
              font-weight: bold;
              padding-top: 10px;
              padding-left: 4px;
            "
          >
            Package & Exclusive
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div
        class="row"
        style="
          margin-left: 5px;
          margin-right: 5px;
          background-color: white;
          height: 40px;
          margin-top: 20px;
          border-radius: 6px;
        "
      >
        <div class="col-md-2">
          <img
            style="
              border-radius: 50%;
              height: 38px;
              width: 35px;
              padding-top: 1px;
            "
            src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-10">
          <p
            style="
              font-size: small;
              color: #1a062e;
              font-weight: bold;
              padding-top: 10px;
              padding-left: 4px;
            "
          >
            Package & Exclusive
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div
        class="row"
        style="
          margin-left: 5px;
          margin-right: 5px;
          background-color: white;
          height: 40px;
          margin-top: 20px;
          border-radius: 6px;
        "
      >
        <div class="col-md-2">
          <img
            style="
              border-radius: 50%;
              height: 38px;
              width: 35px;
              padding-top: 1px;
            "
            src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
          />
        </div>
        <div class="col-md-10">
          <p
            style="
              padding-top: 10px;
              padding-left: 4px;
              font-size: small;
              color: #1a062e;
              font-weight: bold;
            "
          >
            Package & Exclusive
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- --------------------------------------- -->
<div class="container" style="margin-top: 0px;">
  <div class="row">
    <div
      class="col-md-8"
      style="
        height: 60px;
        margin-left: 60px;
        border-radius: 15px;
        background-color: #1a062e;
        color: white;
        margin-top: 0em;
        line-height: none;
        align-items: center;
        box-shadow: 5px 8px 10px #cbc6cf;
      "
    >
      <div
        class="box"
        style="
          padding-top: 15px;
          font-weight: bold;
          padding-right: 5px;
          padding-right: 5px;
        "
      >
        <div><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>
        <div>How it works</div>
        <div>Beauticians</div>
        <div>Customer Reviews</div>
        <div>Blogs</div>
        <div><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>

<!-- How it Works Section-->
<div class="container" style="margin-top: 40px; margin-left: 100px;">
  <div class="row">
    <div class="col-md-7" style="outline: 1px solid black; height: 420px;">
      <h2 style="font-weight: bold; padding-left: 20px;">How it Works</h2>
      <hr />
      <div class="col-md-3">
        <i class="fa fa-circle-thin fa-5x" aria-hidden="true"></i>
        <div class="v" style="margin-left: 25px;"></div>
        <i class="fa fa-circle-thin fa-5x" aria-hidden="true"></i>
        <div class="v" style="margin-left: 25px;"></div>
        <i class="fa fa-circle-thin fa-5x" aria-hidden="true"></i>
      </div>

      <div class="col-md-8">
        <h4 style="font-weight: bold;">Choose a salon service</h4>
        <h5 style="font-weight: bolder; color: #7f7d82;">
          Select from Various Salon Packages & Services
        </h5>
        <hr style="margin-top: 30px;" />
        <h4 style="font-weight: bold; margin-top: 30px;">
          Choose a time slot
        </h4>
        <h5 style="font-weight: bolder; color: #7f7d82;">
          Select from Various Salon Packages & Services
        </h5>
        <hr style="margin-top: 30px;" />
        <h4 style="font-weight: bold; margin-top: 30px;">
          Relax & enjoy salon service
        </h4>
        <h5 style="font-weight: bolder; color: #7f7d82;">
          Select from Various Salon Packages & Services
        </h5>
        <hr />
      </div>
    </div>
  </div>
</div>
<!-- Beauty Parlour at delhi -->
<div class="container" style="margin-top: 40px; margin-left: 100px;">
  <div class="row">
    <div class="col-md-7" style="outline: 1px solid black; height: 130px;">
      <h3 style="font-weight: bold; padding-left: 30px;">
        Beauty Parlour at home in Delhi
      </h3>
      <h5
        style="
          font-weight: bolder;
          color: #7f7d82;
          padding-left: 30px;
          margin-top: 20px;
        "
      >
        Tired of Going to Salon, Serve on Door Provides Service at Home...
      </h5>
      <h5
        style="
          text-decoration: underline;
          padding-left: 30px;
          margin-top: 15px;
        "
      >
        Men's Haircut & Grooming in Delhi
      </h5>
    </div>
  </div>
</div> 

<!-- Beauticians -->
<div class="container" style="margin-top: 40px; margin-left: 100px;">
  <div class="row">
    <div class="col-md-7" style="outline: 1px solid black; height:1000px;">
      <h2 style="font-weight: bold; padding-left: 20px; padding-top: 10px;">
        Beauticians
      </h2>
      <h4 style="color: #96929c; padding-left: 20px; line-height: 0em;">
        1,500 Beauty Professionals in Delhi
      </h4>
      <hr style="margin-top: 26px;" />
      <!--  -->
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <img
              style="
                margin-top: 10px;
                border-radius: 50%;
                height: 100px;
                width: 100px;
              "
              src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
            />
          </div>

          <div class="col-md-6" style="padding-top: 0em; padding-left: 30px;">
            <h4 style="font-weight: bold;">Name Surname</h4>
            <h6 style="line-height: 0em; color: #9e9ca1;">
              Address, New Delhi, India
            </h6>
            <p style="margin-top: 10px; padding-top: 10px;">
              <span style="font-size: small; color: #20e6aa;"
                ><i class="fa fa-star" aria-hidden="true"></i> 4.9 </span
              ><span style="font-weight: bold;">(1029 Ratings) </span
              ><span
                style="color: #9e9ca1; font-weight: bold; padding-left: 30px;"
              >
                •</span
              >
              <span style="font-size: small; color: #20e6aa;">
                450 Times rated 5 Stars</span
              >
            </p>
            <div class="row">
              <div class="col-md-1">
                <img
                  style="
                    margin-top: 10px;
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;
                  "
                  src="https://images.unsplash.com/photo-1589779137147-3d388746b765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                />
              </div>
              <div
                class="col-md-9"
                style="padding-top: 0em; padding-left: 60px;"
              >
                <h4
                  style="
                    font-weight: bold;
                    padding-top: 10px;
                    line-height: 0em;
                  "
                >
                  Sam
                </h4>
                <p
                  style="margin-top: 10px; padding-top: 10px; line-height: 0em;"
                >
                  <span style="font-size: small; color: #20e6aa;"
                    ><i class="fa fa-star" aria-hidden="true"></i> 5.0
                  </span>
                </p>
                <p style="margin-top: 10px;">Lorem ipsum dolor sit amet  ut. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe nobis ratione voluptates eos ea sapiente quaerat unde ducimus cum suscipit accusamus maiores, commodi laboriosam veniam, debitis dignissimos pariatur non.
                </p>
                <!-- col-md-9 -->
              </div>
              <!-- row -->
            </div>
            <!-- col-md-6 -->
          </div>
          <!-- row -->
        </div>
        <!-- Container -->
        </div>
        <hr>
        <div class="container">
            <div class="row">
              <div class="col-md-1">
                <img
                  style="
                    margin-top: 10px;
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                  "
                  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                />
              </div>
    
              <div class="col-md-6" style="padding-top: 0em; padding-left: 30px;">
                <h4 style="font-weight: bold;">Name Surname</h4>
                <h6 style="line-height: 0em; color: #9e9ca1;">
                  Address, New Delhi, India
                </h6>
                <p style="margin-top: 10px; padding-top: 10px;">
                  <span style="font-size: small; color: #20e6aa;"
                    ><i class="fa fa-star" aria-hidden="true"></i> 4.9 </span
                  ><span style="font-weight: bold;">(1029 Ratings) </span
                  ><span
                    style="color: #9e9ca1; font-weight: bold; padding-left: 30px;"
                  >
                    •</span
                  >
                  <span style="font-size: small; color: #20e6aa;">
                    450 Times rated 5 Stars</span
                  >
                </p>
                <div class="row">
                  <div class="col-md-1">
                    <img
                      style="
                        margin-top: 10px;
                        border-radius: 50%;
                        height: 80px;
                        width: 80px;
                      "
                      src="https://images.unsplash.com/photo-1589779137147-3d388746b765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                    />
                  </div>
                  <div
                    class="col-md-9"
                    style="padding-top: 0em; padding-left: 60px;"
                  >
                    <h4
                      style="
                        font-weight: bold;
                        padding-top: 10px;
                        line-height: 0em;
                      "
                    >
                      Sam
                    </h4>
                    <p
                      style="margin-top: 10px; padding-top: 10px; line-height: 0em;"
                    >
                      <span style="font-size: small; color: #20e6aa;"
                        ><i class="fa fa-star" aria-hidden="true"></i> 5.0
                      </span>
                    </p>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet  ut. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe nobis ratione voluptates eos ea sapiente quaerat unde ducimus cum suscipit accusamus maiores, commodi laboriosam veniam, debitis dignissimos pariatur non.
                    </p>
                    <!-- col-md-9 -->
                  </div>
                  <!-- row -->
                </div>
                <!-- col-md-6 -->
              </div>
              <!-- row -->
            </div>
            <!-- Container -->
            </div>
            <hr>
        <div class="container">
            <div class="row">
              <div class="col-md-1">
                <img
                  style="
                    margin-top: 10px;
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                  "
                  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                />
              </div>
    
              <div class="col-md-6" style="padding-top: 0em; padding-left: 30px;">
                <h4 style="font-weight: bold;">Name Surname</h4>
                <h6 style="line-height: 0em; color: #9e9ca1;">
                  Address, New Delhi, India
                </h6>
                <p style="margin-top: 10px; padding-top: 10px;">
                  <span style="font-size: small; color: #20e6aa;"
                    ><i class="fa fa-star" aria-hidden="true"></i> 4.9 </span
                  ><span style="font-weight: bold;">(1029 Ratings) </span
                  ><span
                    style="color: #9e9ca1; font-weight: bold; padding-left: 30px;"
                  >
                    •</span
                  >
                  <span style="font-size: small; color: #20e6aa;">
                    450 Times rated 5 Stars</span
                  >
                </p>
                <div class="row">
                  <div class="col-md-1">
                    <img
                      style="
                        margin-top: 10px;
                        border-radius: 50%;
                        height: 80px;
                        width: 80px;
                      "
                      src="https://images.unsplash.com/photo-1589779137147-3d388746b765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                    />
                  </div>
                  <div
                    class="col-md-9"
                    style="padding-top: 0em; padding-left: 60px;"
                  >
                    <h4
                      style="
                        font-weight: bold;
                        padding-top: 10px;
                        line-height: 0em;
                      "
                    >
                      Sam
                    </h4>
                    <p
                      style="margin-top: 10px; padding-top: 10px; line-height: 0em;"
                    >
                      <span style="font-size: small; color: #20e6aa;"
                        ><i class="fa fa-star" aria-hidden="true"></i> 5.0
                      </span>
                    </p>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet  ut. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe nobis ratione voluptates eos ea sapiente quaerat unde ducimus cum suscipit accusamus maiores, commodi laboriosam veniam, debitis dignissimos pariatur non.
                    </p>
         
                  </div>

                </div>
   
              </div>
     
            </div>
 
            </div>
 
      </div>

    </div>
</div>

  <!-- Popular Services near you section -->
  <div class="container" style="margin-top: 40px; margin-left: 100px;">
    <div class="row">
      <div class="col-md-7" style="outline: 1px solid black; height: 420px;">
        <h2 style="font-weight: bold; padding-left: 20px; padding-top: 10px;">
          Popular Services near you
        </h2>
        <hr style="margin-top: 10px;" />
        <h4
          style="
            padding-top: 20px;
            color: #96929c;
            padding-left: 20px;
            line-height: 0em;
          "
        >
          Electricians
        </h4>
        <hr
          style="
            line-height: 0em;
            color: #96929c;
            padding-left: 20px;
            width: 600px;
          "
        />
        <h4
          style="
            padding-top: 20px;
            color: #96929c;
            padding-left: 20px;
            line-height: 0em;
          "
        >
          Microwave repair
        </h4>
        <hr
          style="
            line-height: 0em;
            color: #96929c;
            padding-left: 20px;
            width: 600px;
          "
        />
        <h4
          style="
            padding-top: 20px;
            color: #96929c;
            padding-left: 20px;
            line-height: 0em;
          "
        >
          Cleaning Services
        </h4>
        <hr
          style="
            line-height: 0em;
            color: #96929c;
            padding-left: 20px;
            width: 600px;
          "
        />
        <h4
          style="
            padding-top: 20px;
            color: #96929c;
            padding-left: 20px;
            line-height: 0em;
          "
        >
          Salons
        </h4>
        <hr
          style="
            line-height: 0em;
            color: #96929c;
            padding-left: 20px;
            width: 600px;
          "
        />
        <h4
          style="
            padding-top: 20px;
            color: #96929c;
            padding-left: 20px;
            line-height: 0em;
          "
        >
          Spa
        </h4>
        <hr
          style="
            line-height: 0em;
            color: #96929c;
            padding-left: 20px;
            width: 600px;
          "
        />
      </div>
    </div>
  </div>

  <!-- Looking to hire proffesionals in delhi section -->
  <div class="container" style="margin-top: 40px; margin-left: 100px;">
    <div class="row">
      <div class="col-md-7" style="outline: 1px solid black; height: 200px;">
        <h2 style="font-weight: bold; text-align: center;">
          Looking to hire proffesionals in Delhi?
        </h2>
        <h5 style="font-weight: bolder; text-align: center; margin-top: 20px;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          praesentium provident placeat fugit? Ratione, cumque.
        </h5>
        <button
          type="button"
          class="btn btn-dark"
          style="
            background-color: black;
            color: white;
            margin-top: 10px;
            margin-left: 230px;
            padding-left: 15px;
            padding-right: 15px;
            box-shadow: 5px 8px 10px #cbc6cf;
          "
        >
          Give Requirements
        </button>
      </div>
    </div>
  </div>

  <!-- All about serve on door -->
  <div class="container" style="margin-top: 40px; margin-left: 100px;">
    <div class="row">
      <div class="col-md-7" style="outline: 1px solid black; height: 820px;">
        <h2 style="font-weight: bold; padding-left: 20px;">
          All About Serve on Door Salon at Home
        </h2>
        <hr style="width: 100%; padding: 0em;" />
        <h4 style="font-weight: bold; padding-left: 20px;">
          Salon at home in Delhi
        </h4>
        <p style="margin-top: 20px; color: #9e9ca1; padding-left: 20px;">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden in the middle of text. All
          the Lorem Ipsum generators on the Internet tend to repeat predefined
          chunks as necessary, making this the first true generator on the
          Internet.
        </p>
        <h4 style="font-weight: bold; padding-left: 20px; margin-top: 40px;">
          Why Serve on Door's Salon at home?
        </h4>
        <p style="margin-top: 20px; color: #9e9ca1; padding-left: 20px;">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden in the middle of text. All
          the Lorem Ipsum generators on the Internet tend to repeat predefined
          chunks as necessary, making this the first true generator on the
          Internet.
        </p>
        <ul style="padding: 0em; margin: 0em; padding-left: 20px;">
          <li style="color: #9e9ca1;">
            <span style="color: black; font-weight: bold;"
              >• Time Saving : </span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            accusamus eum commodi beatae totam est possimus odio deserunt in
            perferendis.
          </li>
          <li style="color: #9e9ca1; padding-top: 15px;">
            <span style="color: black; font-weight: bold;"
              >• Branded Cosmetics : </span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            accusamus eum commodi beatae totam est possimus odio deserunt in
            perferendis.
          </li>
          <li style="color: #9e9ca1; padding-top: 15px;">
            <span style="color: black; font-weight: bold;"
              >• Professional Beauticians : </span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            accusamus eum commodi beatae totam est possimus odio deserunt in
            perferendis.
          </li>
          <li style="color: #9e9ca1; padding-top: 15px;">
            <span style="color: black; font-weight: bold;"
              >• Hygiene Friendly : </span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            accusamus eum commodi beatae totam est possimus odio deserunt in
            perferendis.
          </li>
        </ul>
        <h4 style="font-weight: bold; padding-left: 20px; margin-top: 40px;">
          Benefits of Serve on Door's Salon at Home?
        </h4>
        <p style="margin-top: 20px; color: #9e9ca1; padding-left: 20px;">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden in the middle of text. All
          the Lorem Ipsum generators on the Internet tend to repeat predefined
          chunks as necessary, making this the first true generator on the
          Internet.
        </p>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container" style="margin-top: 40px; margin-left: 100px;">
    <div class="row">
      <div class="col-md-7" style="outline: 1px solid black; height: 150px;">
        <h3 style="font-weight: bold; color: #9e9ca1; text-align: center;">
          Are you a Professional looking for Customers?
        </h3>
        <button
          type="button"
          class="btn btn-dark"
          style="
            background-color: black;
            color: white;
            margin-top: 20px;
            margin-left: 230px;
            padding-left: 15px;
            padding-right: 15px;
            box-shadow: 5px 8px 10px #cbc6cf;
          "
        >
          Join Now
        </button>
      </div>
    </div>
  </div>

  <%- include ("./partials/footer") %>
</div>
