<%- include ("./partials/header") %>
<div class="container">
  <div class="row" style="display: flex; justify-content: space-between;">
    <div class="column-md-6">
      <img
        style="
          margin-top: 45px;
          height: 400px;
          box-shadow: 5px 8px 10px #cbc6cf;
        "
        ;
        src=" https://images.unsplash.com/photo-1523206489230-c012c64b2b48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
      />
    </div>
    <div class="col-md-6">
      <div class="form-style-8">
        <h2>Sign Up</h2>
        <form>
          <input type="text" name="field2" placeholder="Name" />
          <input type="email" name="field2" placeholder="Email" />
          <input type="password" name="field3" placeholder="Password" />
          <input type="password" name="field3" placeholder="Confirm Password" />
          <input
            type="button"
            style="border-radius: 10px; margin-top: 20px;"
            value="Sign Up"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>
